apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ../../base

nameSuffix: -dev

commonLabels:
  environment: dev

# Dev environment specific configurations
patches:
  - target:
      kind: Deployment
      name: data-semantic-api
    patch: |-
      - op: replace
        path: /spec/replicas
        value: 1
      - op: replace
        path: /spec/template/spec/containers/0/resources/limits/cpu
        value: "200m"
      - op: replace
        path: /spec/template/spec/containers/0/resources/limits/memory
        value: "256Mi"

  - target:
      kind: HorizontalPodAutoscaler
      name: data-semantic-api-hpa
    patch: |-
      - op: replace
        path: /spec/minReplicas
        value: 1
      - op: replace
        path: /spec/maxReplicas
        value: 2

configMapGenerator:
  - name: data-semantic-config
    behavior: merge
    literals:
      - DB_HOST=dev-db.local
